

body {
    background: #444;
}
.main.container {
    background-color: #FFFFFF;
    margin: 0 auto;
    padding: 2em 2em 7em;
    max-width: 990px;
}

.field {
    margin: 10px;
}

.search {
    float: right;
}

.ui.input button {
    margin: 0em;
    width: 100%;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 1.2142em;
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: 0.67861em 1em;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    color: rgba(0, 0, 0, 0.8);
    border-radius: 0.2857rem;
    -webkit-transition: background-color 0.2s ease, box-shadow 0.2s ease, border-color 0.2s ease;
    transition: background-color 0.2s ease, box-shadow 0.2s ease, border-color 0.2s ease;
    box-shadow: none;
}

.ui.icon.input button {
    padding-right: 2.82142em !important;
}

.ui.icon.input button i.icon {
    position: absolute;
    text-align: center;
    top: 0px;
    right: 0px;
    margin: 0em;
    height: 100%;
    width: 2.82142em;
    opacity: 0.5;
    border-radius: 0em 0.2857rem 0.2857rem 0em;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

.ui.icon.input i.icon:before, .ui.icon.input i.icon:after {
    left: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    margin-top: -0.5em;
}

.field span {
    display: block;
    font-size: 14px;
    color: #f03131;
}

.error-message {
    display: inline-block;
    padding: 10px;
    font-size: 14px;
    color:#fff;
    background-color: #f03131;
    border-radius: 3px;
}

.game-detail {
    margin-top: 20px;
}

.game-detail .game-detail-top {
    margin-bottom: 30px;
}

.game-detail .game-detail-content h2 {
    margin-top: 4px;
}